<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width =device-width, initial-scale=1, maximum-scale=1" />
    <title></title>
    <meta charset="utf-8" />
    <!--layui的css-->
    <link href="./layui/src/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        form {
            width: 500px;
            margin: 10px auto;
        }

        h1,
        h2,
        h3 {
            padding: 10px 0;
        }

        a {
            text-align: right;
            font-size: 18px;
            color: #1C86EE;
        }

        .xtree_contianer {
            width: 500px;
            border: 1px solid #9C9C9C;
            overflow: auto;
            margin-bottom: 30px;
            background-color: #fff;
            padding: 10px 0 25px 5px;
        }

        .div-btns {
            margin: 20px 0;
        }

        .layui-form-label {
            width: 60px !important;
        }
    </style>
</head>

<body>
<form class="layui-form layui-form-pane1" action="" lay-filter="first">
    <div class="layui-form-item">
        <label class="layui-form-label">培训名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主讲人</label>
        <div class="layui-input-inline">
            <input type="text" name="lecturer" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">培训时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="date">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">培训地址</label>
        <div class="layui-input-inline">
            <select name="location" id="location">
                <option value="线上">线上</option>
                <option value="总部">总部</option>
                <option value="上海">上海</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div id="layui-xtree-demo1" style="width:600px;height:600px; border:1px solid black; margin:20px;overflow:auto;">
        </div>
    </div>
    <button class="layui-btn submit" style="margin-left: 250px" type="button">提交</button>
</form>

</body>

</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!--先引用layui的js-->
<script src="layui/layui.js"></script>
<!--引用xtree-->
<script src="./public/api.js"></script>
<script src="layui-xtree/layui-xtree.js"></script>
<script type="text/javascript">
    //tree数据结构
    var json1 = getMailList();

    layui.use('form', function() {
        var form = layui.form;

        //创建tree
        var xtree = new layuiXtree({
            elem: 'layui-xtree-demo1' ,//放xtree的容器（必填）
            form: form ,//layui form对象 （必填）
            data: json1 ,//数据，结构请参照下面 （必填）
            isopen: false, //初次加载时全部展开，默认true （选填）
            color: "#ffe698", //图标颜色 （选填）
            defaultlayer: 0, //默认不展开，如果超出最大层级则全展开
            icon: { //图标样式 （选填）
                open: "", //节点打开的图标
                close: "", //节点关闭的图标
            }
        });

        $(".submit").click(function(){
            var name = $("input[name='name']").val();
            var lecturer = $("input[name='lecturer']").val();
            var location = $("#location").val();
            var date = $("#date").val();

            var oCks = xtree.GetChecked(); //获取全部选中的末级节点checkbox对象
            var str = "";
            for(var i = 0; i < oCks.length; i++) {
                str += oCks[i].value+","
            }
            if (name==''){
                alert("请填写培训名称");
            }else if(lecturer == ''){
                alert("请填写主讲人");
            }else if(location == ''){
                alert("请选择培训地点");
            }else if(date == ''){
                alert("请选择培训时间");
            }else if(str == ''){
                alert("请选择培训人员");
            }else{
                var status = addTrain({"name":name,"lecturer":lecturer,"location":location,"time":date,"userIds":str});
                if (status == true){
                    parent.location.reload();
                } else{
                    alert("信息录入有误");
                }
            }
        });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
        });
    });
</script>