<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="./static/css/weui.css"/>
    <link rel="stylesheet" href="./static/css/weuix.css"/>

    <script src="./static/js/zepto.min.js"></script>
    <script src="./static/js/zepto.weui.js"></script>
    <script src="./static/js/picker.city.js"></script>
    <script src="./static/js/DateUtil.js"></script>
</head>

<body ontouchstart>
<div class="page-hd">
    <h1 class="page-hd-title">
       请填写您的个人信息
    </h1>
    <p class="page-hd-desc"></p>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">服务商名称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的服务商名称" id="proxyName" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="projectName">项目名称</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的项目名称" id="projectName" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="name">收货人姓名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的收货人姓名" id="name" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="telephone">收货人电话</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的收货人电话"  id="telephone" type="number">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="address">收货地址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的收货地址" id="address" type="text">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="time" class="weui-label">提货日期</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="time" type="text" placeholder="请选择提货日期"/>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn">确定</a>
</div>
<br>
<br>
<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__text">Copyright &copy; VELUX</p>
</div>
<script>
    $(function(){
        $(document).on("click","#btn",function(){
            var proxyName = $("#proxyName").val();
            var projectName = $("#projectName").val();
            var telephone = $("#telephone").val();
            var time = $("#time").val();
            var name = $("#name").val();
            var address = $("#address").val();
            if(proxyName==""){
                $.toptip("服务商名称不能为空");
                return false;
            }
            else if (projectName==""){
                $.toptip("项目名称不能为空");
                return false;
            }else if (name==""){
                $.toptip("收货人姓名不能为空");
                return false;
            }else if (telephone==""){
                $.toptip("收货人电话不能为空");
                return false;
            }else if (address==""){
                $.toptip("收货地址不能为空");
                return false;
            }else if (time==""){
                $.toptip("提货日期不能为空");
                return false;
            }
            else{
                //进行本地存储
                sessionStorage.setItem("proxyName",proxyName);
                sessionStorage.setItem("name",name);
                sessionStorage.setItem("telephone",telephone);
                sessionStorage.setItem("address",address);
                sessionStorage.setItem("time",time);
                sessionStorage.setItem("projectName",projectName);

                $.toptip("提交成功",'success');
                location.href = "./place.html";
            }
        })

    });

    $("#time").datetimePicker({
        times: function () {
            return [
            ];
        }
    });
</script>
</body>
</html>