<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>下单系统</title>
	<link rel="stylesheet" href="./static/css/weui.css"/>
	<link rel="stylesheet" href="./static/css/weuix.css"/>
	<link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
<div class="main">
	<div class="left-menu"  id="left">
		<ul>
			<li><span value="0">A系列-木色</span></li>
			<li><span value="9">A系列-白色</span></li>
			<li><span value="1">欧式进口</span></li>
			<li><span value="2">美式进口</span></li>
			<li><span value="3">VMS</span></li>
			<li><span value="4">特种产品</span></li>
			<li><span value="5">排水板</span></li>
			<li><span value="6">售后配件</span></li>
			<li><span value="7">进口附件</span></li>
			<li><span value="8">管道</span></li>
		</ul>
	</div>
	<div class="con">
		<div class="right-con con-active window-con0" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con9" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con1" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con2" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con3" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con4" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con5" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con6" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con7" style="display: none;">
			<ul>

			</ul>
		</div>
		<div class="right-con con-active window-con8" style="display: none;">
			<ul>

			</ul>
		</div>
	</div>
	<div class="up1"></div>
	<div class="shopcart-list fold-transition" style="">
		<div class="list-header">
			<h1 class="title">购物车</h1>
			<span class="empty">清空</span>
		</div>
		<div class="list-content">
			<ul></ul>
		</div>
	</div>
	<div class="footer">  
		<div class="left">已选：
		<span id="cartN">
			<span id="totalcountshow">0</span>份　</span>
		</div>
		<div class="right">  
			<a id="btnselect" class="xhlbtn  disable" href="javascript:void(0)">下一步</a>
		</div>   
	</div>
</div>
<div class="subFly" style="display: none">
	<div class="up"></div>
	<div class="down">
		<a class="close" href="javascript:">
			<img src="./static/img/close.png" alt="">
		</a>
		<dl class="subName">
			<dt>
				<img class="imgPhoto" src="./static/img/pic.png" alt="">
			</dt>
			<dd>
				<p data-icon=""></p>
				<p>
					<span>已选：“</span>
					<span class="choseValue"></span>
					<span>”</span>
				</p>
			</dd>
		</dl>
		<dl class="subChose size-chose">
			<dt>尺寸</dt>

		</dl>
		<dl class="subChose attr-chose">
			<dt>属性</dt>

		</dl>
		<dl class="subChose board-chose" style="display: none">
			<dt>排水板</dt>

		</dl>
		<dl class="subChose">
			<dt>备注</dt>
			<div class="weui-cell__bd">
				<textarea class="weui-textarea remark" placeholder="请输入备注" rows="3" onkeyup="textarea(this);"></textarea>
			</div>
		</dl>
		<dl class="subCount">
			<dt>购买数量</dt>
			<dd>
				<div class="btn weui-count">
					<a class="weui-count__btn weui-count__decrease" style="margin-right: 15px"></a>
					<input class="weui-count__number" type="number" value="1">
					<a class="weui-count__btn weui-count__increase" style="margin-left: 15px"></a>
				</div>
			</dd>
		</dl>
		<div class="foot">
			<span>加入购物车</span>
		</div>
	</div>

</div>
<script type="text/javascript" src="./static/js/jquery.min.js"></script>
<script src="./static/js/zepto.weui.js"></script>
<script src="./public/api.js"></script>
<script type="text/javascript" src="./static/js/add.js"></script>
<script type="text/javascript" src="./static/js/vue.min.js"></script>
</body>
</html>
